<div class="blogcontainer">
    <p>{{{get_emoji}}}</p>

    <div class="homepage row mb-4 project">
        <div class="homepagehead">
            <h2>
                {{name}}
            </h2>
            <p>
            </p>
            <p>Posted by {{user.name}} on {{format_date date_created}}</p>
        </div>
        <div class="homepagebody">
            <p>
                {{description}}
            </p>
        </div>
    </div>
</div>